/*Buttons*/
.btn  {
	@extend %btn;
	@extend %font-uppercase;
	@extend %text-center;
	@extend %font-black;
	@include dimension(195px, 60px);
	display: block;
	padding: 0.5em;
	line-height: 3;
	margin-top: 1em;
	font-size: $font-14;

	&.bordered  {
		border: 1px solid rgba($blackBtn-color, 0.25);
	}

	& > i  {
		margin-left: 0.5em;
	}

	&.yellow  {
		background: transparent;
		color: $yellowMinTitle-color;
		border-color: $white-color;
	}
}

.cta-scroll  {
	@extend %btn-noStyle;
	color: $yellowDot-color;
}

.slider-btn  {
	background: none;
	border: none;
}
/*End Buttons*/