.block-card  {
	@extend %clearfix;
	padding: 1em 0;

	&:before  {
		@extend %font-bold;
		@extend %float-right;
		content: attr(data-publication);
		font-size: $font-12;
		color: $greyData-color;
	}

	.card-caption  {
		@extend %clearfix;
		@extend %text-center;
		position: relative;
		background-color: $white-color;
		bottom: 2.5em;
		width: 90%;
		padding: 1em;
		margin: auto;
		box-shadow: 0 4px 44px 8px rgba($black-color, 0.2);

		h3  {
			@extend %font-uppercase;
			font-size: $font-18;
		}

		p  {
			@extend %font-italic;
			font-size: $font-14;
			color: $blackText-color;
			margin: 0.5em 0;
		}

		&:after  {
			content: '';
			display: block;
			height: 3px;
			width: 60px;
			background-color: $yellowMinTitle-color;
			transform: rotateZ(-45deg);
			position: relative;
			bottom: -20px;
			left: calc( (100% - 60px) / 2);
		}
	}

	.btn  {
		margin: 1em auto;
	}	 
}

.client-card  {
	@include dimension(270px, 270px);
	border: 1px solid $greyData-color;
}

.actu-card  {
	@include dimension(270px, 270px);
	margin: 1em auto;

	figcaption  {
		position: relative;
		top: -75px;
		left: 10px;	
	}
}