.content-slider  {
	margin-bottom: 2em;

}

.slider-nav  {
	@include dimension(140px, 64px);
	@extend %pos-relative;
	left: 55%;
	top: -5em;
	z-index: 2;

	.slider-arrows  {

		button  {
			top: 40%;

			&:first-of-type  {
				@extend %pos-absolute;
				margin-left: 1em;
				left: 0;
			}

			&:last-of-type  {
				@extend %pos-absolute;
				margin-right: 1em;
				right: 0;
			}

			i  {
				font-size: 125%;
			}
		}
	}

	.slider-count  {
		@extend %pos-relative;
		top: 35%;

		p  {
			@extend %pos-absolute;
			top: 36%;
			left: 0;
			font-size: $font-14
		}

		.swiper-pagination-current  {
			@extend %font-bold;
		}

		.swiper-pagination-total  {
			color: $greySlider-color;
		}
	}
}