//Colors
$white-color: 			rgb(255, 255, 255);
$black-color:			rgb(0, 0, 0);
$greyNumber-color:		rgb(241, 241, 241);
$greyData-color:		rgb(224, 224, 224);
$greyLight-color:		rgb(115, 115, 155);
$blackBg-color:			rgb(27, 31, 31);
$blackBtn-color:		rgb(28, 27, 27);
$blackTitle-color:		rgb(77, 77, 77);
$blackText-color:		rgb(70, 70, 70);
$gradientYellow-color1: rgb(255, 203, 0);
$gradientYellow-color2:	rgb(255, 152, 0);
$yellowMinTitle-color:	rgb(255, 185, 66);
$yellowDot-color:		rgb(255, 201, 0);
$yellowLink-color:		rgb(255, 177, 0);
$yellowHr-color:		rgb(220, 146, 39);
$facebookBtn-color:		rgb(66, 89, 153);
$twitterBtn-color:		rgb(59, 173, 240);
$linkedinBtn-color:		rgb(50, 124, 183);
$googleplusBtn-color:	rgb(194, 14, 26);

//Gradient
$gradient-color1:		$gradientYellow-color1;
$gradient-color2:		$gradientYellow-color2;

//Grid gutter & columns
$gutter:				0 15px !default;
$columns:				12 !default;

//Fonts weight
$font-black:			900;
$font-bold: 			700;
$font-medium: 			500;
$font-regular: 			400;
$font-light: 			300;

//Fonts type
$font-upper: 			uppercase;
$font-lower: 			lowercase;
$font-cap: 				capitalize;

//Fonts style
$font-normal: 			normal;
$font-italic:			italic;

//Fonts default size
$font-default:			16px !default; //1rem||1em

//Fonts size em || rem (1em = 16px by default || 1rem = 16px by default)
$font-48:				3rem;		//48px
$font-40:				2.5rem;		//40px
$font-36:				2.25rem;	//36px
$font-30:				1.875rem; 	//30px
$font-24:				1.5rem;		//24px
$font-18: 				1.125rem;	//18px
$font-16:				1rem;		//16px
$font-14:				0.875rem;	//14px
$font-13:				0.813rem;	//13px
$font-12:				0.75rem;	//12px

//Breakpoint
$mobile-small:			 320px;
$mobile-large:			 480px; 
$tablet-small:			 640px;
$tablet-large:			 768px;
$tablet-big:			 992px;
$screen-small:			1024px;
$screen-large:			1200px;
$desktop-small:		 	1440px;
$desktop-large: 		1920px;

//Line Height
$bootstrap-lh:			1.42857143;
$reset-lh:				1;
$base-lh:				1.5;
