@charset "UTF-8";
/*****************
Reset
*****************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

aside, .objectif .right-block {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e82d3c+0,e70774+100 */
  background: #ffcb00;
  background: -webkit-gradient(linear, left top, right top, from(#ffcb00), to(#ff9800));
  background: linear-gradient(to right, #ffcb00 0%, #ff9800 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e82d3c', endColorstr='#e70774',GradientType=1 );
}

.competences {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e82d3c+0,e70774+100 */
  background: #ffcb00;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffcb00), to(#ff9800));
  background: linear-gradient(to bottom, #ffcb00 0%, #ff9800 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e82d3c', endColorstr='#e70774',GradientType=1 );
}

.col-xxsm-1,
.col-xsm-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xlg-1, .col-xxsm-2,
.col-xsm-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xlg-2, .col-xxsm-3,
.col-xsm-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xlg-3, .col-xxsm-4,
.col-xsm-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xlg-4, .col-xxsm-5,
.col-xsm-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xlg-5, .col-xxsm-6,
.col-xsm-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xlg-6, .col-xxsm-7,
.col-xsm-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xlg-7, .col-xxsm-8,
.col-xsm-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xlg-8, .col-xxsm-9,
.col-xsm-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xlg-9, .col-xxsm-10,
.col-xsm-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xlg-10, .col-xxsm-11,
.col-xsm-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xlg-11, .col-xxsm-12,
.col-xsm-12,
.col-sm-12,
.col-md-12,
.col-lg-12,
.col-xlg-12 {
  float: left;
  position: relative;
  padding: 0 15px;
  min-height: 1px;
}

.btn {
  cursor: pointer;
  background: white;
  border: 2px solid white;
  color: #1c1b1b;
  text-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: auto;
  height: auto;
  -webkit-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
}

.btn:hover, .btn:active:hover, .active.btn:hover {
  background: #ffb100;
  color: white;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
}

.btn:focus, .btn:active:focus, .active.btn:focus {
  border-color: #ffb100;
}

.cta-scroll, .menu-toggle {
  cursor: pointer;
  background: none;
  border: none;
  text-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: auto;
  height: auto;
}

.padded-block, .row, .block-card, .block-card .card-caption, .home .block-title {
  *zoom: 1;
}

.padded-block:before, .row:before, .block-card:before, .block-card .card-caption:before, .home .block-title:before, .padded-block:after, .row:after, .block-card:after, .block-card .card-caption:after, .home .block-title:after {
  content: " ";
  display: table;
}

.padded-block:after, .row:after, .block-card:after, .block-card .card-caption:after, .home .block-title:after {
  clear: both;
}

.menu-header, .menu-toggle, .cta-scroll > i, .block-title h2, .block-content {
  position: relative;
}

.sr-only, .cta-scroll, .big-number, .skewed-bg {
  position: absolute;
}

.menu-top, .menu-container {
  position: fixed;
}

h1, h2, h3, h4, h5, h6, .big-title, .dot, .hero-header .hero-title {
  font-family: 'Futura Bold', 'Open Sans', sans-serif;
}

p:not(.big-number) {
  font-family: 'Helvetica Neue', 'Roboto', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, .big-title, .dot, .hero-header .hero-title, .block-card:before, .menu-bottom .cta-mail, .liamone .little-title, .objectif .right-block p {
  font-weight: 700 !important;
}

p:not(.big-number) {
  font-weight: 500 !important;
}

.btn, .btn:active, .big-number, aside h2, .content-list h3 {
  font-weight: 900 !important;
}

.block-card .card-caption p {
  font-style: italic;
}

.btn, .block-card .card-caption h3, .menu-bottom nav:first-of-type h2, .menu-bottom .cta-mail, aside h2, .home .big-title:not(.hero-title), .home .dot:not(.hero-title), .home .hero-header .hero-title:not(.hero-title), .hero-header .home .hero-title:not(.hero-title), .liamone .little-title, .actus .actualite h2 {
  text-transform: uppercase;
}

.rounded, .btn, .block-card .card-caption, .hero-header .hero-title {
  text-align: center;
}

.block-card:before, .menu-toggle {
  float: right;
}

.separator, .clients .client-card {
  float: left;
}

/*****************
Base
*****************/
/*HELPERS*/
.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.center {
  display: block;
  margin: 0 auto;
}

.clearfix::before, .clearfix::after {
  content: '';
  display: table;
}

.clearfix::after {
  clear: both;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.img-fluid, img {
  max-width: 100%;
  height: auto;
  display: table;
}

img {
  vertical-align: middle;
}

.sr-only {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.rounded {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: block;
  background-color: white;
}

.rounded > i {
  line-height: 3.1 !important;
  font-size: 1.25rem !important;
  color: #4d4d4d;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: 'Helvetica Neue', 'Roboto', helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.45;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  background-color: white;
}

.separator {
  width: 16px;
  height: 2px;
  border: none;
  background-color: #dc9227;
}

/*GRID*/
.fluid-container {
  width: 100vw;
  max-width: 100vw;
  margin: auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 320px;
  padding: 0 15px;
}

.row {
  width: 100%;
}

.col-xxsm-1 {
  width: 8.33333%;
}

.col-xxsm-center {
  margin: 0 auto;
  float: none;
}

.col-xxsm-push-1 {
  left: 8.33333%;
}

.col-xxsm-offset-1 {
  margin-left: 8.33333%;
}

.col-xxsm-pull-1 {
  left: 8.33333%;
}

.col-xxsm-2 {
  width: 16.66667%;
}

.col-xxsm-center {
  margin: 0 auto;
  float: none;
}

.col-xxsm-push-2 {
  left: 16.66667%;
}

.col-xxsm-offset-2 {
  margin-left: 16.66667%;
}

.col-xxsm-pull-2 {
  left: 16.66667%;
}

.col-xxsm-3 {
  width: 25%;
}

.col-xxsm-center {
  margin: 0 auto;
  float: none;
}

.col-xxsm-push-3 {
  left: 25%;
}

.col-xxsm-offset-3 {
  margin-left: 25%;
}

.col-xxsm-pull-3 {
  left: 25%;
}

.col-xxsm-4 {
  width: 33.33333%;
}

.col-xxsm-center {
  margin: 0 auto;
  float: none;
}

.col-xxsm-push-4 {
  left: 33.33333%;
}

.col-xxsm-offset-4 {
  margin-left: 33.33333%;
}

.col-xxsm-pull-4 {
  left: 33.33333%;
}

.col-xxsm-5 {
  width: 41.66667%;
}

.col-xxsm-center {
  margin: 0 auto;
  float: none;
}

.col-xxsm-push-5 {
  left: 41.66667%;
}

.col-xxsm-offset-5 {
  margin-left: 41.66667%;
}

.col-xxsm-pull-5 {
  left: 41.66667%;
}

.col-xxsm-6 {
  width: 50%;
}

.col-xxsm-center {
  margin: 0 auto;
  float: none;
}

.col-xxsm-push-6 {
  left: 50%;
}

.col-xxsm-offset-6 {
  margin-left: 50%;
}

.col-xxsm-pull-6 {
  left: 50%;
}

.col-xxsm-7 {
  width: 58.33333%;
}

.col-xxsm-center {
  margin: 0 auto;
  float: none;
}

.col-xxsm-push-7 {
  left: 58.33333%;
}

.col-xxsm-offset-7 {
  margin-left: 58.33333%;
}

.col-xxsm-pull-7 {
  left: 58.33333%;
}

.col-xxsm-8 {
  width: 66.66667%;
}

.col-xxsm-center {
  margin: 0 auto;
  float: none;
}

.col-xxsm-push-8 {
  left: 66.66667%;
}

.col-xxsm-offset-8 {
  margin-left: 66.66667%;
}

.col-xxsm-pull-8 {
  left: 66.66667%;
}

.col-xxsm-9 {
  width: 75%;
}

.col-xxsm-center {
  margin: 0 auto;
  float: none;
}

.col-xxsm-push-9 {
  left: 75%;
}

.col-xxsm-offset-9 {
  margin-left: 75%;
}

.col-xxsm-pull-9 {
  left: 75%;
}

.col-xxsm-10 {
  width: 83.33333%;
}

.col-xxsm-center {
  margin: 0 auto;
  float: none;
}

.col-xxsm-push-10 {
  left: 83.33333%;
}

.col-xxsm-offset-10 {
  margin-left: 83.33333%;
}

.col-xxsm-pull-10 {
  left: 83.33333%;
}

.col-xxsm-11 {
  width: 91.66667%;
}

.col-xxsm-center {
  margin: 0 auto;
  float: none;
}

.col-xxsm-push-11 {
  left: 91.66667%;
}

.col-xxsm-offset-11 {
  margin-left: 91.66667%;
}

.col-xxsm-pull-11 {
  left: 91.66667%;
}

.col-xxsm-12 {
  width: 100%;
}

.col-xxsm-center {
  margin: 0 auto;
  float: none;
}

.col-xxsm-push-12 {
  left: 100%;
}

.col-xxsm-offset-12 {
  margin-left: 100%;
}

.col-xxsm-pull-12 {
  left: 100%;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #4d4d4d;
}

p:not(.big-number) {
  margin-bottom: 1.25em;
  font-size: 0.875rem;
}

.big-number {
  font-size: 12.5rem;
}

.big-title, .dot, .hero-header .hero-title {
  font-size: 1.875rem;
}

.big-title > span, .dot > span, .hero-header .hero-title > span {
  font-size: inherit;
}

.little-title {
  font-size: 0.875rem;
}

.yellow-title {
  color: #ffb942;
}

.dot {
  color: #ffc900;
}

a {
  text-decoration: none;
}

/*****************
Fontello
*****************/
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello/fontello.eot");
  src: url("../fonts/fontello/fontello.eot") format("embedded-opentype"), url("../fonts/fontello/fontello.woff2") format("woff2"), url("../fonts/fontello/fontello.woff") format("woff"), url("../fonts/fontello/fontello.ttf") format("truetype"), url("../fonts/fontello/fontello.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?84780854#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-heart:before {
  content: '\e800';
}

/* '' */
.icon-right-small:before {
  content: '\e801';
}

/* '' */
.icon-right:before {
  content: '\e802';
}

/* '' */
.icon-down-small:before {
  content: '\e803';
}

/* '' */
.icon-left-small:before {
  content: '\e804';
}

/* '' */
.icon-up-small:before {
  content: '\e805';
}

/* '' */
.icon-left:before {
  content: '\e806';
}

/* '' */
.icon-up:before {
  content: '\e807';
}

/* '' */
.icon-down:before {
  content: '\e808';
}

/* '' */
.icon-twitter:before {
  content: '\f099';
}

/* '' */
.icon-facebook:before {
  content: '\f09a';
}

/* '' */
.icon-linkedin:before {
  content: '\f0e1';
}

/* '' */
.icon-angle-right:before {
  content: '\f105';
}

/* '' */
.icon-instagram:before {
  content: '\f16d';
}

/* '' */
.icon-left-1:before {
  content: '\f177';
}

/* '' */
.icon-right-1:before {
  content: '\f178';
}

/* '' */
.icon-paper-plane:before {
  content: '\f1d8';
}

/* '' */
.icon-copyright:before {
  content: '\f1f9';
}

/* '' */
.icon-heart:before {
  content: '\e800';
}

/* '' */
.icon-right-small:before {
  content: '\e801';
}

/* '' */
.icon-right:before {
  content: '\e802';
}

/* '' */
.icon-down-small:before {
  content: '\e803';
}

/* '' */
.icon-left-small:before {
  content: '\e804';
}

/* '' */
.icon-up-small:before {
  content: '\e805';
}

/* '' */
.icon-left:before {
  content: '\e806';
}

/* '' */
.icon-up:before {
  content: '\e807';
}

/* '' */
.icon-down:before {
  content: '\e808';
}

/* '' */
.icon-twitter:before {
  content: '\f099';
}

/* '' */
.icon-facebook:before {
  content: '\f09a';
}

/* '' */
.icon-linkedin:before {
  content: '\f0e1';
}

/* '' */
.icon-angle-right:before {
  content: '\f105';
}

/* '' */
.icon-instagram:before {
  content: '\f16d';
}

/* '' */
.icon-left-1:before {
  content: '\f177';
}

/* '' */
.icon-right-1:before {
  content: '\f178';
}

/* '' */
.icon-paper-plane:before {
  content: '\f1d8';
}

/* '' */
.icon-copyright:before {
  content: '\f1f9';
}

/* '' */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  /* fix buttons height */
  line-height: 1em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
}

.icon-heart {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe800;&nbsp;');
}

.icon-right-small {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe801;&nbsp;');
}

.icon-right {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe802;&nbsp;');
}

.icon-down-small {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe803;&nbsp;');
}

.icon-left-small {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe804;&nbsp;');
}

.icon-up-small {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe805;&nbsp;');
}

.icon-left {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe806;&nbsp;');
}

.icon-up {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe807;&nbsp;');
}

.icon-down {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe808;&nbsp;');
}

.icon-twitter {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf099;&nbsp;');
}

.icon-facebook {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf09a;&nbsp;');
}

.icon-linkedin {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e1;&nbsp;');
}

.icon-angle-right {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf105;&nbsp;');
}

.icon-instagram {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf16d;&nbsp;');
}

.icon-left-1 {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf177;&nbsp;');
}

.icon-right-1 {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf178;&nbsp;');
}

.icon-paper-plane {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf1d8;&nbsp;');
}

.icon-copyright {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf1f9;&nbsp;');
}

.icon-heart {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe800;&nbsp;');
}

.icon-right-small {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe801;&nbsp;');
}

.icon-right {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe802;&nbsp;');
}

.icon-down-small {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe803;&nbsp;');
}

.icon-left-small {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe804;&nbsp;');
}

.icon-up-small {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe805;&nbsp;');
}

.icon-left {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe806;&nbsp;');
}

.icon-up {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe807;&nbsp;');
}

.icon-down {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe808;&nbsp;');
}

.icon-twitter {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf099;&nbsp;');
}

.icon-facebook {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf09a;&nbsp;');
}

.icon-linkedin {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e1;&nbsp;');
}

.icon-angle-right {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf105;&nbsp;');
}

.icon-instagram {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf16d;&nbsp;');
}

.icon-left-1 {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf177;&nbsp;');
}

.icon-right-1 {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf178;&nbsp;');
}

.icon-paper-plane {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf1d8;&nbsp;');
}

.icon-copyright {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf1f9;&nbsp;');
}

/*****************
Components
*****************/
.btn {
  width: 195px;
  height: 60px;
  display: block;
  padding: 0.5em;
  line-height: 3;
  margin-top: 1em;
  font-size: 0.875rem;
}

.btn.bordered {
  border: 1px solid rgba(28, 27, 27, 0.25);
}

.btn > i {
  margin-left: 0.5em;
}

.cta-scroll {
  color: #ffc900;
}

.block-card {
  padding: 1em 0;
}

.block-card:before {
  content: attr(data-publication);
  font-size: 0.75rem;
  color: #e0e0e0;
}

.block-card .card-caption {
  position: relative;
  background-color: white;
  bottom: 2.5em;
  width: 90%;
  padding: 1em;
  margin: auto;
  -webkit-box-shadow: 0 4px 44px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 44px 8px rgba(0, 0, 0, 0.2);
}

.block-card .card-caption h3 {
  font-size: 1.125rem;
}

.block-card .card-caption p {
  font-size: 0.875rem;
  color: #464646;
  margin: 0.5em 0;
}

.block-card .card-caption:after {
  content: '';
  display: block;
  height: 3px;
  width: 60px;
  background-color: #ffb942;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  position: relative;
  bottom: -20px;
  left: calc( (100% - 60px) / 2);
}

.block-card .btn {
  margin: 1em auto;
}

.client-card {
  width: 270px;
  height: 270px;
  border: 1px solid #e0e0e0;
}

.actu-card {
  width: 270px;
  height: 270px;
  margin: 1em auto;
}

.actu-card figcaption {
  position: relative;
  top: -75px;
  left: 10px;
}

/*****************
Layout
*****************/
.menu-top {
  z-index: 900;
  background-color: transparent;
  padding: 1.25em 0;
  background-color: #1b1f1f;
}

.menu-top a:not(.menu-brand) {
  color: white;
  display: block;
  padding: 0.25em 0;
}

.menu-header {
  width: 100%;
  z-index: 902;
}

.menu-toggle {
  padding: 0 15px;
  width: 42px;
  height: 42px;
}

.menu-toggle .line {
  width: 16px;
  height: 2px;
  display: block;
  margin: 0.25em auto;
  background-color: white;
}

.menu-container {
  display: none;
  width: 100vw;
  min-height: 100vh;
  z-index: 901;
  top: 0;
  left: 0;
  -webkit-transition: all 0.65s cubic-bezier(1, 0, 0, 1) 0.25s;
  transition: all 0.65s cubic-bezier(1, 0, 0, 1) 0.25s;
  overflow-x: hidden;
  background-color: #1b1f1f;
}

.menu-nav {
  padding: 30vh 0;
}

.menu-bottom:before {
  content: '';
  display: block;
  width: calc(100vw - 30px);
  height: 1px;
  margin: auto;
  background-color: rgba(28, 27, 27, 0.25);
}

.menu-bottom nav {
  padding-top: 1em;
  padding-bottom: 1em;
}

.menu-bottom nav:first-of-type h2 {
  font-size: 1.25rem;
}

.menu-bottom .cta-mail {
  padding: 0.5em 0;
}

.menu-bottom h2 {
  font-size: 1rem;
}

.menu-bottom .dot {
  color: #4d4d4d;
}

.menu-bottom a {
  color: #4d4d4d;
  font-size: 0.875rem;
}

.menu-bottom .mention {
  margin-top: 1em;
}

.menu-bottom .mention p,
.menu-bottom .mention a {
  font-size: 0.75rem;
}

.hero-header {
  background-color: #1b1f1f;
  height: 100vh;
  padding: 35vh 0;
}

.hero-header .hero-title {
  color: white;
  font-size: 2.625rem;
}

.cta-scroll {
  bottom: 2em;
  left: 45vw;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
}

.cta-scroll > i {
  color: white;
  left: -4px;
  top: 1px;
}

section,
aside {
  padding: 2em 0;
}

aside h2 {
  font-size: 1.125rem;
}

aside p {
  margin-top: 1em;
  color: #464646;
}

/*****************
Pages
*****************/
.content-list {
  padding-top: 1em;
  padding-bottom: 1em;
}

.content-list h3 {
  font-size: 1rem;
}

.content-list ol {
  padding: 0.5em 0;
}

.content-list li {
  font-size: 0.875rem;
}

.block-title,
.block-content {
  padding-top: 1em;
  padding-bottom: 1em;
}

.block-title h2 {
  z-index: 2;
}

.block-content {
  z-index: 2;
}

.big-number {
  color: #f1f1f1;
  z-index: 0;
  top: -0.1em;
  left: 0.25em;
}

.home .block-title {
  min-height: 230px;
}

.home .block-title h2 {
  margin-top: 2em;
}

.parallax-geometry {
  display: none;
}

.liamone .block-title h2 {
  margin-top: 0;
}

.objectif .left-block {
  background-color: #f1f1f1;
}

.objectif .right-block {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.objectif .right-block p {
  color: white;
  font-size: 1rem;
}

.objectif .right-block .black-text {
  color: #464646;
}

.objectif .right-block .btn {
  margin-top: 3em;
}

.objectif .big-number {
  color: white;
}

.objectif p {
  font-size: 400;
}

.expertises {
  padding: 0;
}

.expertises .content-list {
  border-bottom: 1px solid rgba(28, 27, 27, 0.15);
}

.expertises .content-list:last-child {
  border: none;
}

.expertises i {
  margin: 0 1em 0 0;
}

.competences .block-title {
  padding-bottom: 0;
}

.competences .big-title, .competences .dot, .competences .hero-header .hero-title, .hero-header .competences .hero-title {
  color: white;
}

.competences .block-content {
  padding-top: 0;
}

.competences .big-number {
  color: rgba(241, 241, 241, 0.16);
}

.competences .separator {
  background-color: white;
}

.competences .content-caption {
  padding: 0.5em 0;
}

.competences svg {
  margin-bottom: 0.25em;
}

.competences h3 {
  margin-bottom: 0.75em;
  font-size: 1rem;
}

.skewed-bg {
  width: 100vw;
  height: 100%;
  display: none;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.02)), to(rgba(255, 255, 255, 0.18)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.18) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#fff',GradientType=1 );
}

.clients .client-card {
  width: 45%;
  height: 42vw;
  margin: 0.5em 2.5%;
  text-align: center;
}

.clients .client-card img {
  display: inline-block;
  margin: auto;
  vertical-align: middle;
}

.clients .client-1 {
  background-image: url("../img/client/sponsoweb-logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.clients .client-2 {
  background-image: url("../img/client/autobiz-logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.clients .client-3 {
  background-image: url("../img/client/orange-logo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.clients .client-4 {
  background-image: url("../img/client/voyagesncf-logo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.clients .client-5 {
  background-image: url("../img/client/immodefrance-logo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.actus .actualite {
  background-color: #4d4d4d;
  padding: 6em 4em;
}

.actus .actualite h2 {
  color: white;
  font-size: 1.5rem;
}

.actus .btn {
  width: 270px;
  margin: 2.5em auto;
}

/*Animate*/
/*
@import 'animation/animate';			//Animate.css
@import 'animation/anim';				//Own animation
*/
/*****************
Media-queries
*****************/
@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
  .col-xsm-1 {
    width: 8.33333%;
  }
  .col-xsm-center {
    margin: 0 auto;
    float: none;
  }
  .col-xsm-push-1 {
    left: 8.33333%;
  }
  .col-xsm-offset-1 {
    margin-left: 8.33333%;
  }
  .col-xsm-pull-1 {
    left: 8.33333%;
  }
  .col-xsm-2 {
    width: 16.66667%;
  }
  .col-xsm-center {
    margin: 0 auto;
    float: none;
  }
  .col-xsm-push-2 {
    left: 16.66667%;
  }
  .col-xsm-offset-2 {
    margin-left: 16.66667%;
  }
  .col-xsm-pull-2 {
    left: 16.66667%;
  }
  .col-xsm-3 {
    width: 25%;
  }
  .col-xsm-center {
    margin: 0 auto;
    float: none;
  }
  .col-xsm-push-3 {
    left: 25%;
  }
  .col-xsm-offset-3 {
    margin-left: 25%;
  }
  .col-xsm-pull-3 {
    left: 25%;
  }
  .col-xsm-4 {
    width: 33.33333%;
  }
  .col-xsm-center {
    margin: 0 auto;
    float: none;
  }
  .col-xsm-push-4 {
    left: 33.33333%;
  }
  .col-xsm-offset-4 {
    margin-left: 33.33333%;
  }
  .col-xsm-pull-4 {
    left: 33.33333%;
  }
  .col-xsm-5 {
    width: 41.66667%;
  }
  .col-xsm-center {
    margin: 0 auto;
    float: none;
  }
  .col-xsm-push-5 {
    left: 41.66667%;
  }
  .col-xsm-offset-5 {
    margin-left: 41.66667%;
  }
  .col-xsm-pull-5 {
    left: 41.66667%;
  }
  .col-xsm-6 {
    width: 50%;
  }
  .col-xsm-center {
    margin: 0 auto;
    float: none;
  }
  .col-xsm-push-6 {
    left: 50%;
  }
  .col-xsm-offset-6 {
    margin-left: 50%;
  }
  .col-xsm-pull-6 {
    left: 50%;
  }
  .col-xsm-7 {
    width: 58.33333%;
  }
  .col-xsm-center {
    margin: 0 auto;
    float: none;
  }
  .col-xsm-push-7 {
    left: 58.33333%;
  }
  .col-xsm-offset-7 {
    margin-left: 58.33333%;
  }
  .col-xsm-pull-7 {
    left: 58.33333%;
  }
  .col-xsm-8 {
    width: 66.66667%;
  }
  .col-xsm-center {
    margin: 0 auto;
    float: none;
  }
  .col-xsm-push-8 {
    left: 66.66667%;
  }
  .col-xsm-offset-8 {
    margin-left: 66.66667%;
  }
  .col-xsm-pull-8 {
    left: 66.66667%;
  }
  .col-xsm-9 {
    width: 75%;
  }
  .col-xsm-center {
    margin: 0 auto;
    float: none;
  }
  .col-xsm-push-9 {
    left: 75%;
  }
  .col-xsm-offset-9 {
    margin-left: 75%;
  }
  .col-xsm-pull-9 {
    left: 75%;
  }
  .col-xsm-10 {
    width: 83.33333%;
  }
  .col-xsm-center {
    margin: 0 auto;
    float: none;
  }
  .col-xsm-push-10 {
    left: 83.33333%;
  }
  .col-xsm-offset-10 {
    margin-left: 83.33333%;
  }
  .col-xsm-pull-10 {
    left: 83.33333%;
  }
  .col-xsm-11 {
    width: 91.66667%;
  }
  .col-xsm-center {
    margin: 0 auto;
    float: none;
  }
  .col-xsm-push-11 {
    left: 91.66667%;
  }
  .col-xsm-offset-11 {
    margin-left: 91.66667%;
  }
  .col-xsm-pull-11 {
    left: 91.66667%;
  }
  .col-xsm-12 {
    width: 100%;
  }
  .col-xsm-center {
    margin: 0 auto;
    float: none;
  }
  .col-xsm-push-12 {
    left: 100%;
  }
  .col-xsm-offset-12 {
    margin-left: 100%;
  }
  .col-xsm-pull-12 {
    left: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-center {
    margin: 0 auto;
    float: none;
  }
  .col-sm-push-1 {
    left: 8.33333%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }
  .col-sm-pull-1 {
    left: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-center {
    margin: 0 auto;
    float: none;
  }
  .col-sm-push-2 {
    left: 16.66667%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }
  .col-sm-pull-2 {
    left: 16.66667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-center {
    margin: 0 auto;
    float: none;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-pull-3 {
    left: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-center {
    margin: 0 auto;
    float: none;
  }
  .col-sm-push-4 {
    left: 33.33333%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }
  .col-sm-pull-4 {
    left: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-center {
    margin: 0 auto;
    float: none;
  }
  .col-sm-push-5 {
    left: 41.66667%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }
  .col-sm-pull-5 {
    left: 41.66667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-center {
    margin: 0 auto;
    float: none;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-pull-6 {
    left: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-center {
    margin: 0 auto;
    float: none;
  }
  .col-sm-push-7 {
    left: 58.33333%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }
  .col-sm-pull-7 {
    left: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-center {
    margin: 0 auto;
    float: none;
  }
  .col-sm-push-8 {
    left: 66.66667%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }
  .col-sm-pull-8 {
    left: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-center {
    margin: 0 auto;
    float: none;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-pull-9 {
    left: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-center {
    margin: 0 auto;
    float: none;
  }
  .col-sm-push-10 {
    left: 83.33333%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }
  .col-sm-pull-10 {
    left: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-center {
    margin: 0 auto;
    float: none;
  }
  .col-sm-push-11 {
    left: 91.66667%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }
  .col-sm-pull-11 {
    left: 91.66667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-center {
    margin: 0 auto;
    float: none;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-pull-12 {
    left: 100%;
  }
  aside {
    padding: 3em 0;
  }
  .liamone img {
    margin-top: 10em;
  }
  .liamone .big-number {
    left: 2em;
  }
  .objectif .block-title,
  .objectif .right-block {
    height: 329px;
  }
  .objectif .block-content {
    padding-left: 2em;
  }
  .block-card {
    display: block;
    position: relative;
  }
  .block-card:before {
    float: none;
  }
  .block-card .card-caption {
    position: absolute;
    left: 5%;
    top: 30%;
    bottom: auto;
  }
  .projet {
    position: relative;
  }
  .projet .block-content {
    max-height: 1080px;
    top: -6em;
  }
  .projet .block-card {
    float: left;
    margin-right: 20vw;
  }
  .projet .block-card:first-of-type {
    z-index: 3;
  }
  .projet .block-card:nth-child(even) {
    top: -10vw;
    left: 0;
    float: right;
    margin-right: 0;
    z-index: 2;
  }
  .projet .block-card:nth-child(even):before {
    position: absolute;
    top: 0;
    right: 0;
  }
  .projet .block-card:last-child {
    top: -20vw;
    z-index: 1;
  }
  .competences {
    position: relative;
    overflow: hidden;
  }
  .competences .content-caption {
    width: 48%;
    float: left;
    margin: 0 1%;
    height: 250px;
  }
  .skewed-bg {
    display: block;
  }
  .skewed-bg.shape-left {
    -webkit-transform: skew(24deg, 0deg);
            transform: skew(24deg, 0deg);
    left: -83%;
  }
  .skewed-bg.shape-right {
    -webkit-transform: skew(0deg, -35deg);
            transform: skew(0deg, -35deg);
    top: 45%;
  }
  .clients .client-card,
  .actu-card {
    width: 230px;
    height: 230px;
    margin: 0.5em;
  }
  .actus .actu-card {
    float: left;
  }
  .actus .actualite {
    padding: 4em;
  }
  .mention {
    text-align: center;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-center {
    margin: 0 auto;
    float: none;
  }
  .col-md-push-1 {
    left: 8.33333%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333%;
  }
  .col-md-pull-1 {
    left: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-center {
    margin: 0 auto;
    float: none;
  }
  .col-md-push-2 {
    left: 16.66667%;
  }
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }
  .col-md-pull-2 {
    left: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-center {
    margin: 0 auto;
    float: none;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-pull-3 {
    left: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-center {
    margin: 0 auto;
    float: none;
  }
  .col-md-push-4 {
    left: 33.33333%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }
  .col-md-pull-4 {
    left: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-center {
    margin: 0 auto;
    float: none;
  }
  .col-md-push-5 {
    left: 41.66667%;
  }
  .col-md-offset-5 {
    margin-left: 41.66667%;
  }
  .col-md-pull-5 {
    left: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-center {
    margin: 0 auto;
    float: none;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-pull-6 {
    left: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-center {
    margin: 0 auto;
    float: none;
  }
  .col-md-push-7 {
    left: 58.33333%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333%;
  }
  .col-md-pull-7 {
    left: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-center {
    margin: 0 auto;
    float: none;
  }
  .col-md-push-8 {
    left: 66.66667%;
  }
  .col-md-offset-8 {
    margin-left: 66.66667%;
  }
  .col-md-pull-8 {
    left: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-center {
    margin: 0 auto;
    float: none;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-pull-9 {
    left: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-center {
    margin: 0 auto;
    float: none;
  }
  .col-md-push-10 {
    left: 83.33333%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }
  .col-md-pull-10 {
    left: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-center {
    margin: 0 auto;
    float: none;
  }
  .col-md-push-11 {
    left: 91.66667%;
  }
  .col-md-offset-11 {
    margin-left: 91.66667%;
  }
  .col-md-pull-11 {
    left: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-center {
    margin: 0 auto;
    float: none;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-pull-12 {
    left: 100%;
  }
  .padded-block > .block-content,
  .padded-block .block-title,
  .padded-block .left-block .block-title,
  .padded-block .left-block .block-content,
  .padded-block .left-block {
    padding-left: 8.33333%;
  }
  .skewed-bg.shape-right {
    -webkit-transform: skew(0deg, -30deg);
            transform: skew(0deg, -30deg);
  }
  .competences .block-content {
    padding-top: 3em;
  }
  aside .left-block {
    padding-left: 8.33333%;
  }
  .clients .client-card,
  .actu-card {
    width: 270px;
    height: 270px;
  }
  .actus .actualite {
    padding: 5em;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .col-lg-1 {
    width: 8.33333%;
  }
  .col-lg-center {
    margin: 0 auto;
    float: none;
  }
  .col-lg-push-1 {
    left: 8.33333%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }
  .col-lg-pull-1 {
    left: 8.33333%;
  }
  .col-lg-2 {
    width: 16.66667%;
  }
  .col-lg-center {
    margin: 0 auto;
    float: none;
  }
  .col-lg-push-2 {
    left: 16.66667%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }
  .col-lg-pull-2 {
    left: 16.66667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-center {
    margin: 0 auto;
    float: none;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-pull-3 {
    left: 25%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-center {
    margin: 0 auto;
    float: none;
  }
  .col-lg-push-4 {
    left: 33.33333%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }
  .col-lg-pull-4 {
    left: 33.33333%;
  }
  .col-lg-5 {
    width: 41.66667%;
  }
  .col-lg-center {
    margin: 0 auto;
    float: none;
  }
  .col-lg-push-5 {
    left: 41.66667%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }
  .col-lg-pull-5 {
    left: 41.66667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-center {
    margin: 0 auto;
    float: none;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-pull-6 {
    left: 50%;
  }
  .col-lg-7 {
    width: 58.33333%;
  }
  .col-lg-center {
    margin: 0 auto;
    float: none;
  }
  .col-lg-push-7 {
    left: 58.33333%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }
  .col-lg-pull-7 {
    left: 58.33333%;
  }
  .col-lg-8 {
    width: 66.66667%;
  }
  .col-lg-center {
    margin: 0 auto;
    float: none;
  }
  .col-lg-push-8 {
    left: 66.66667%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }
  .col-lg-pull-8 {
    left: 66.66667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-center {
    margin: 0 auto;
    float: none;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-pull-9 {
    left: 75%;
  }
  .col-lg-10 {
    width: 83.33333%;
  }
  .col-lg-center {
    margin: 0 auto;
    float: none;
  }
  .col-lg-push-10 {
    left: 83.33333%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }
  .col-lg-pull-10 {
    left: 83.33333%;
  }
  .col-lg-11 {
    width: 91.66667%;
  }
  .col-lg-center {
    margin: 0 auto;
    float: none;
  }
  .col-lg-push-11 {
    left: 91.66667%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }
  .col-lg-pull-11 {
    left: 91.66667%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-center {
    margin: 0 auto;
    float: none;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-pull-12 {
    left: 100%;
  }
  .hero-header .hero-title {
    font-size: 5.625rem;
  }
  h1 {
    font-size: 2.25rem;
  }
  h2 {
    font-size: 1.875rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.125rem;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 0.875rem;
  }
  .big-number {
    font-size: 18.75rem;
  }
  .big-title, .dot, .hero-header .hero-title {
    font-size: 1.875rem;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1440px;
  }
  .col-xlg-1 {
    width: 8.33333%;
  }
  .col-xlg-center {
    margin: 0 auto;
    float: none;
  }
  .col-xlg-push-1 {
    left: 8.33333%;
  }
  .col-xlg-offset-1 {
    margin-left: 8.33333%;
  }
  .col-xlg-pull-1 {
    left: 8.33333%;
  }
  .col-xlg-2 {
    width: 16.66667%;
  }
  .col-xlg-center {
    margin: 0 auto;
    float: none;
  }
  .col-xlg-push-2 {
    left: 16.66667%;
  }
  .col-xlg-offset-2 {
    margin-left: 16.66667%;
  }
  .col-xlg-pull-2 {
    left: 16.66667%;
  }
  .col-xlg-3 {
    width: 25%;
  }
  .col-xlg-center {
    margin: 0 auto;
    float: none;
  }
  .col-xlg-push-3 {
    left: 25%;
  }
  .col-xlg-offset-3 {
    margin-left: 25%;
  }
  .col-xlg-pull-3 {
    left: 25%;
  }
  .col-xlg-4 {
    width: 33.33333%;
  }
  .col-xlg-center {
    margin: 0 auto;
    float: none;
  }
  .col-xlg-push-4 {
    left: 33.33333%;
  }
  .col-xlg-offset-4 {
    margin-left: 33.33333%;
  }
  .col-xlg-pull-4 {
    left: 33.33333%;
  }
  .col-xlg-5 {
    width: 41.66667%;
  }
  .col-xlg-center {
    margin: 0 auto;
    float: none;
  }
  .col-xlg-push-5 {
    left: 41.66667%;
  }
  .col-xlg-offset-5 {
    margin-left: 41.66667%;
  }
  .col-xlg-pull-5 {
    left: 41.66667%;
  }
  .col-xlg-6 {
    width: 50%;
  }
  .col-xlg-center {
    margin: 0 auto;
    float: none;
  }
  .col-xlg-push-6 {
    left: 50%;
  }
  .col-xlg-offset-6 {
    margin-left: 50%;
  }
  .col-xlg-pull-6 {
    left: 50%;
  }
  .col-xlg-7 {
    width: 58.33333%;
  }
  .col-xlg-center {
    margin: 0 auto;
    float: none;
  }
  .col-xlg-push-7 {
    left: 58.33333%;
  }
  .col-xlg-offset-7 {
    margin-left: 58.33333%;
  }
  .col-xlg-pull-7 {
    left: 58.33333%;
  }
  .col-xlg-8 {
    width: 66.66667%;
  }
  .col-xlg-center {
    margin: 0 auto;
    float: none;
  }
  .col-xlg-push-8 {
    left: 66.66667%;
  }
  .col-xlg-offset-8 {
    margin-left: 66.66667%;
  }
  .col-xlg-pull-8 {
    left: 66.66667%;
  }
  .col-xlg-9 {
    width: 75%;
  }
  .col-xlg-center {
    margin: 0 auto;
    float: none;
  }
  .col-xlg-push-9 {
    left: 75%;
  }
  .col-xlg-offset-9 {
    margin-left: 75%;
  }
  .col-xlg-pull-9 {
    left: 75%;
  }
  .col-xlg-10 {
    width: 83.33333%;
  }
  .col-xlg-center {
    margin: 0 auto;
    float: none;
  }
  .col-xlg-push-10 {
    left: 83.33333%;
  }
  .col-xlg-offset-10 {
    margin-left: 83.33333%;
  }
  .col-xlg-pull-10 {
    left: 83.33333%;
  }
  .col-xlg-11 {
    width: 91.66667%;
  }
  .col-xlg-center {
    margin: 0 auto;
    float: none;
  }
  .col-xlg-push-11 {
    left: 91.66667%;
  }
  .col-xlg-offset-11 {
    margin-left: 91.66667%;
  }
  .col-xlg-pull-11 {
    left: 91.66667%;
  }
  .col-xlg-12 {
    width: 100%;
  }
  .col-xlg-center {
    margin: 0 auto;
    float: none;
  }
  .col-xlg-push-12 {
    left: 100%;
  }
  .col-xlg-offset-12 {
    margin-left: 100%;
  }
  .col-xlg-pull-12 {
    left: 100%;
  }
}
