@media screen and (min-width: $tablet-big){

	//Container
	.container{
		max-width: 960px;
	}

	//Columns
	@include responsive-columns('md');

	.big-title  {
		font-size: calculateSize(40px);
	}

	/*Home*/
	.liamone  {

		.big-number  {
			left: 2.75em;
		}
	}

	.skewed-bg  {

		&.shape-right  {
			transform: skew(0deg, -30deg);
		}
	}

	.competences  {

		.block-content  {
			padding-top: 3em;
		}
	}

	.clients .client-card,
	.actu-card  {
		@include dimension(270px, 270px);
	}

	.actus  {

		.actualite  {
			padding: 5em;
		}
	}
	/*End Home*/

	/*Footer*/
	footer  {

		.big-title  {
			font-size: calculateSize(21px);
		}
	}
	/*End Footer*/

	/*Jobs*/
	.hero-grey  {
		background: $greyNumber-color;
		background: -moz-linear-gradient(top, $greyNumber-color 0%, $greyNumber-color 80%, $white-color 80%, $white-color 100%);
		background: -webkit-linear-gradient(top, $greyNumber-color 0%, $greyNumber-color 80%, $white-color 80%, $white-color 100%);
		background: linear-gradient(to bottom, $greyNumber-color 0%, $greyNumber-color 80%, $white-color 80%, $white-color 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e82d3c', endColorstr='#e70774',GradientType=1 );
	}

	.jobs  {

		.hero-grey  {
			padding: 15vh 0 0;
		}

		section  {
			padding: 2em 0;
		}
	}
	/*End Jobs*/
}