@media screen and (min-width: $tablet-big){

	//Container
	.container{
		max-width: 960px;
	}

	//Columns
	@include responsive-columns('md');

	.big-title  {
		font-size: calculateSize(40px);
	}
	
	/*Menu-topO*/
	.menu-container  {
		max-width: 30vw;
	}

	/*Home*/
	.liamone  {

		.big-number  {
			left: 2.75em;
		}
	}

	.skewed-bg  {

		&.shape-right  {
			transform: skew(0deg, -30deg);
		}
	}

	.competences  {

		.block-content  {
			padding-top: 3em;
		}
	}

	.clients .client-card,
	.actu-card  {
		@include dimension(270px, 270px);
	}

	.actus  {

		.actualite  {
			padding: 5em;
		}
	}
	/*End Home*/

	/*Footer*/
	footer  {

		.big-title  {
			font-size: calculateSize(21px);
		}
	}
	/*End Footer*/

	/*Jobs*/
	.hero-grey  {
		background: $greyNumber-color;
		background: -moz-linear-gradient(top, $greyNumber-color 0%, $greyNumber-color 80%, $white-color 80%, $white-color 100%);
		background: -webkit-linear-gradient(top, $greyNumber-color 0%, $greyNumber-color 80%, $white-color 80%, $white-color 100%);
		background: linear-gradient(to bottom, $greyNumber-color 0%, $greyNumber-color 80%, $white-color 80%, $white-color 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e82d3c', endColorstr='#e70774',GradientType=1 );
	}

	.jobs  {

		.hero-grey  {
			padding: 15vh 0 0;
		}

		section  {
			padding: 2em 0;
		}
	}
	/*End Jobs*/

	/*Services*/
	.services  {

		.big-title  {
			font-size: $font-40;
		}
		
		.illustration  {

			& > img  {
				width: initial;
			}
		}

		.vitrine  {

			img  {
				top: -6em;
			}
		}

		.store  {

			img  {
				top: 8em;
				left: -40%;
			}
		}

		.on-demand  {

			img  {
				left: -85%;
				top: -2.5em;
			}
		}

		section  {
			padding: 4em 0;
		}
	}

	.branding  {

		img  {
			left: 0;
		}

		ol.left-list,
		ol.right-list  {
			width: 50%;
		}
	}
	/*End Services*/

	/*Slider*/
	.slider-nav  {
		height: 140px;
		top: -7em;
		left: 87%;

		.slider-arrows  {
			position: relative;
			top: 60%;

			button  {

				&:first-of-type  {
					left: 1em;
				}
				&:last-of-type  {
					right: 1em;
				}
			}
		}
	}
	/*End Slider*/

	/*Contact*/
	.contact  {

		.hero-grey  {

			.btn  {
				float: left;
				margin: 1em 2em;

				&:first-of-type  {margin-left: 0;}
			}
		}
	}
	/*End Contact*/

	/*Training*/
	.training  {

		.block-img  {
			@include dimension(150px, 150px);
			margin: 0.75em;
		}

		.filter-select  {

			select  {
				margin-left: 0.75em;
			}
		}
	}

	.block-formation  {

		.resume-text,
		.resume-cta  {
			width: 100%;
		}

		.btn  {
			width: 250px;
		}
	}
	/*End Training*/

	/*Projects*/
	.projects-list  {

		.project-item  {
			min-height: 420px;
		}

		.project-link  {

			.btn  {
				margin-top: 3.5em;
			}
		}
	}

	.project-cover  {

		.mask  {

			& > .project-img  {
				width: 960px;
			}
		}
	}

	.project-focus  {

		.project-link  {
			top: 25%;
		}

		.project-design  {

			h3  {
				max-width: 65%;
			}
		}

		.design-illustration  {
			
			img  {
				float: left;
				width: 45%;
				display: inline;

				&:not(:first-child)  {
					float: right;
					margin-left: 5%;
				}
			}

		}
	}
	/*End Projects*/
}