@media screen and (min-width: $desktop-large){

	//Columns
	@include responsive-columns('xlg');
	
	/*Home*/
	/*.home  {

		section {
			padding: 20vh 0;
		}

	}*/

	.projet  {

		.block-content  {
			max-height: 730px;
		}
	}

	.expertises  {

		.content-list  {
			max-width: 70%;
		}
	}
	/*End Home*/

}	