@media screen and (min-width: $desktop-small){
	
	/*Home*/
	.skewed-bg  {

		&.shape-right  {
			transform: skew(0deg, -16deg);
			top: 30%;
			left: 15%;
		}
	}
	/*End Home*/

	/*Menu-top*/
	.menu-top  {

		.container  {
			max-width: 1440px;
		}
	}
	/*End Menu-top*/
}