@media screen and (min-width: $desktop-large){

	//Columns
	@include responsive-columns('xlg');
	
	/*Home*/
	.projet  {

		.block-card  {
			margin-right: 35vw;
		}

		.block-content  {
			max-height: 730px;
		}
	}

	.expertises  {

		.content-list  {
			max-width: 70%;
		}
	}
	/*End Home*/

}	