@media screen and (min-width: $tablet-large){

	//Container
	.container{
		max-width: 720px;
	}

	//Columns
	@include responsive-columns('sm');
	
	//Aside
	aside  {
		padding: 3em 0;
		
		h2  {
			font-size: $font-24;
		}

		p  {
			font-size: $font-16 !important;
		}
	}
	
	/*Home*/
	.liamone  {

		img  {
			margin-top: 10em;
		}

		.big-number  {
			left: 2em;
		}
	}

	.objectif  {
		background: $gradient-color1;
		background: -moz-linear-gradient(left, $greyNumber-color 0%, $greyNumber-color 50%, $gradient-color1 50%, $gradient-color2 100%);
		background: -webkit-linear-gradient(left, $greyNumber-color 0%, $greyNumber-color 50%, $gradient-color1 50%, $gradient-color2 100%);
		background: linear-gradient(to right, $greyNumber-color 0%, $greyNumber-color 50%, $gradient-color1 50%, $gradient-color2 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e82d3c', endColorstr='#e70774',GradientType=1 );
		
		.block-title,
		.right-block  {
			height: 329px;
		}

		.block-content  {
			padding-left: 2em;
		}
	}

	.block-card  {

		.card-caption {
			@include dimension(260px, 240px);
			left: calc((100% - 260px) / 2);
			
			h3  {
				font-size: $font-24;
			}

			&:after  {
				position: absolute;
				top: 100%;
				bottom: 0;
			}
		}
	}

	.projet  {
		position: relative;

		.block-content  {
			max-height: 1080px;
			top: -6em;
		}

		.block-card  {
			margin-right: 20vw;

			&:first-of-type  {z-index: 3;}

			&:nth-child(even)  {
				top: -10vw;
				left: 0;
				float: right;
				margin-right: 0;
				z-index: 2;
				
				&:before  {
					position: absolute;
					top: 0;
					right: 0;
				}	
			}

			&:last-child  {
				top: -20vw;
				z-index: 1;
			}
		}
	}

	.competences  {
		position: relative;
		overflow: hidden;

		.content-caption  {
			width: 48%;
			float: left;
			margin: 0 1%;
			height: 250px;
		}
	}

	.skewed-bg  {
		display: block;

		&.shape-left  {
	        transform: skew(24deg, 0deg);
	        left: -83%;
		}
		
		&.shape-right  {
	        transform: skew(0deg, -35deg);
	        top: 45%;
		}
	}

	.clients .client-card,
	.actu-card  {
		@include dimension(210px, 210px);
		margin: 0.5em;
	}

	.actus  {

		.actu-card  {
			float: left;
		}

		.actualite  {
			padding: 4em;
		}
	}
	/*End Home*/
	
	/*Footer*/
	.mention  {
		text-align: center; 
	}

	.footer-nav  {
		margin-top: 1em;
	}
	/*Footer*/
	
		
	/*Jobs*/
	.block-job  {

		.job-content,
		.job-cta  {
			display: inline-block;
			float: left;
		}

		.job-content  {
			width: 70%;
		}

		.job-cta  {
			width: 25%;
			margin-left: 5%;
		}
	}

	.hero-grey  {
		background: $greyNumber-color;
		background: -moz-linear-gradient(top, $greyNumber-color 0%, $greyNumber-color 90%, $white-color 90%, $white-color 100%);
		background: -webkit-linear-gradient(top, $greyNumber-color 0%, $greyNumber-color 90%, $white-color 90%, $white-color 100%);
		background: linear-gradient(to bottom, $greyNumber-color 0%, $greyNumber-color 90%, $white-color 90%, $white-color 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e82d3c', endColorstr='#e70774',GradientType=1 );		
	}

	.jobs  {

		.hero-grey  {
			
			img  {
				margin-top: 2em;
				float: right;
			}
		}
	}
	/*End Jobs*/

	/*Job detail*/
	.job-detail  {

		.black-card  {
			margin-top: 3em;
		}

		.cta  {

			.btn  {
				margin-top: 3em;
			}
		}
	}
	/*End Job detail*/

	/*Services*/

	/*End Services*/
	.services  {

		.hero-img  {

			.block-content  {

				.left-block  {
					width: 65%;
				}

				.right-block  {
					width: 25%;
					margin-left: 10%;
					margin-top: 3.5em;
				}

				.left-block,
				.right-block  {
					float: left;
				}
			}
		}

		.illustration  {
			display: block;

			img  {
				max-width: initial;
			}
		}

		section  {

			.btn  {
				width: 195px;
			}
		}
	}

	.branding  {

		&.grey-bg  {
			background: $greyNumber-color;
			background: -moz-linear-gradient(left, $greyNumber-color 0%, $greyNumber-color 60%, $white-color 60%, $white-color 100%);
			background: -webkit-linear-gradient(left, $greyNumber-color 0%, $greyNumber-color 60%, $white-color 60%, $white-color 100%);
			background: linear-gradient(to right, $greyNumber-color 0%, $greyNumber-color 60%, $white-color 60%, $white-color 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcb00', endColorstr='#ff9800',GradientType=1 );
		}
	}

	/*Content slider*/
	.content-slider  {

		.slider-nav  {
			top: 88%;
			right: -2%;
		}
	}
	/*End Content slider*/
}