@media screen and (min-width: $screen-large){

	//Container
	.container{
		max-width: 1140px;
	}

	//Columns
	@include responsive-columns('lg');

	section, 
	aside,
	.expertises  {
		padding: 6.25em 0;
	}

	/*Menu-top*/
	.menu-toggle  {
		display: none;
	}

	.menu-container  {
		position: relative;
		display: block;
		width: 75%;
		min-height: auto;

		.nav-item  {
			display: inline-block;

			.item-link  {
				padding: 0 1em;
			}
		}
	}

	.menu-nav  {
		padding: 5px 0;
		float: right;
	}
	/*End Menu-top*/


	h1  {font-size: $font-36;}
	h2  {font-size: $font-30;}
	h3  {font-size: $font-24;}
	h4  {font-size: $font-18;}
	h5  {font-size: $font-16;}
	h6  {font-size: $font-14;}	

	.big-title  {
		font-size: calculateSize(60px);
	}

	.big-number  {
		font-size: calculateSize(300px);
		top: -0.3em;
	}

	/*Hero*/
	.hero-header  {

		.hero-title  {
			font-size: calculateSize(90px);
		}
	}
	.hero-grey,
	.hero-img  {

		.hero-title  {
			font-size: calculateSize(60px);
		}
	}
	/*End Hero*/

	/*Home*/
	.liamone  {

		.left-block  {
			padding: 0;
		}
	}

	.projet  {

		.block-content  {
			max-height: 1020px;
		}
	}

	.skewed-bg  {
			
		&.shape-right  {
			transform: skew(0deg, -25deg);
		}
	}

	.clients .client-card,
	.actu-card  {
		@include dimension(260px, 260px);
	}
	/*End Home*/

	/*Footer*/
	footer  {

		.big-title  {
			font-size: calculateSize(21px);
		}
	}
	/*End Footer*/

	/*Services*/
	.services  {

		.hero-img  {

			.block-content  {

				.left-block  {
					width: 50%;
				}

				.right-block  {
					margin-left: 25%;
				}
			}
		}

		.vitrine  {

			img  {
				left: -5%;
			}
		}

		.store  {

			img  {
				left: -30%;
			}
		}

		.on-demand  {

			img  {
				left: -65%;
			}
		}
	}

	.branding  {

		img  {
			left: 10%;
		}
	}
	/*End Services*/

	/*Training*/
	.training  {

		.filter-select  {
			display: none; 
		}

		.filter-btn {
			display: block;

			.btn  {
				display: inline-block;
				float: left; 

				&:not(:last-of-type)  {
					margin-right: 0.5em;
				}
			}
		}

		.block-img  {
			@include dimension(180px, 180px);
			margin: 1em;
		}
	}
	/*End Training*/

	/*Projects*/
	.project-item  {

		.project-cover  {
			height: 520px;
			max-width: 520px;
		}

		&.in-view  {

			.project-link  {
				max-width: 480px;
			}
		}
	}

	.project-link  {
		padding: 8em 0 7em 4em;
	}
	/*End Projects*/
}