.contact  {

	.hero-grey  {
		padding-bottom: 2em;
		background: $greyNumber-color;

		.btn  {
			width: 230px;
			margin: 1.5em 0;
		}

		.right-block  {
			margin-top: 2em;
		}
	}

	.find-us  {
		padding: 2em 0;

		li  {
			@extend %font-bold;
			padding-top: 0.5em;
			padding-bottom: 0.5em;
		}

		a  {
			padding: 1em;
		}

		.gmap  {
			margin: 1.5em auto;
		}
	}

	.contact-form  {
		@include dimension(100%, auto);
		@extend %pos-relative;
		padding-top: 5em;
		min-height: 100vh;
		z-index: 5;
		background: $white-color;
		display: none;

		&.form-open  {
			display: block;
		}

		.btn  {
			margin-top: 2em;
		}

		.form-group:last-of-type  {
			margin-top: 8em;
		}

		.reveal-form  {
			@include dimension(100%, 100%);
			@extend %pos-absolute;
			top: 0;
			left: 0;
			background-color: $yellowHr-color;
		}

		.close-form  {
			@extend %pos-absolute;
			font-size: $font-24;
			right: 2em;
			top: 4em;
			background: none;
			border: none;
		}
	}
}
