.contact  {

	.hero-grey  {
		padding-bottom: 2em;
		background: $greyNumber-color;

		.btn  {
			width: 230px;
			margin: 1.5em 0;
		}

		.right-block  {
			margin-top: 2em;
		}
	}

	.find-us  {
		padding: 2em 0;

		li  {
			@extend %font-bold;
			padding-top: 0.5em;
			padding-bottom: 0.5em;
		}

		a  {
			padding: 1em;
		}

		.gmap  {
			margin: 1.5em auto;
		}
	}

	.contact-form  {
		@include dimension(100vw, 100%);
		position: absolute;
		z-index: 5;
		top: 15vh;
		left: 0;
		background: $white-color;
	}
}
