/*Home*/
.content-list  {
	padding-top: 1em;
	padding-bottom: 1em;

	h3  {
		@extend %font-black;
		font-size: $font-16;
	}

	ol  {
		padding: 0.5em 0;
	}

	li  {
		font-size: $font-14;
	}

}

.block-title,
.block-content  {
	padding-top: 1em;
	padding-bottom: 1em; 
}

.block-title  {

	h2  {
		@extend %pos-relative;
		z-index: 2; 
	}
}

.block-content  {
	@extend %pos-relative;
	z-index: 2;
}

.big-number  {
	@extend %pos-absolute;
	color: $greyNumber-color;
	z-index: 0;
	top: -0.1em;
	left: 0.25em;
}

.home  {

	.big-title:not(.hero-title)  {
		@extend %font-uppercase;
	}

	.block-title  {
		@extend %clearfix;
		min-height: 230px;

		h2  {
			margin-top: 2em;
		}
	}
}

.parallax-geometry  {
	display: none;
}

.liamone  {

	.block-title  {

		h2  {
			margin-top: 0;
		}
	}

	.little-title  {
		@extend %font-uppercase;
		@extend %font-bold;
	}
}

.objectif  {
	background: $gradient-color1;
	background: -moz-linear-gradient(top, $greyNumber-color 0%, $greyNumber-color 45%, $gradient-color1 45%, $gradient-color2 100%);
	background: -webkit-linear-gradient(top, $greyNumber-color 0%, $greyNumber-color 45%, $gradient-color1 45%, $gradient-color2 100%);
	background: linear-gradient(to bottom, $greyNumber-color 0%, $greyNumber-color 45%, $gradient-color1 45%, $gradient-color2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e82d3c', endColorstr='#e70774',GradientType=1 );

	.left-block  {
	}

	.right-block  {
		padding-top: 2.5em;
		padding-bottom: 2.5em;

		p  {
			@extend %font-bold;
			color: $white-color;
			font-size: $font-16;
		}

		.black-text  {
			color:: $blackText-color;
		}

		.btn  {
			margin-top: 3em;
		}
	}

	.big-number  {
		color: $white-color; 
	}

	p  {
		font-size: $font-regular;
	}
}

.expertises  {
	padding: 0;

	.content-list  {
		border-bottom: 1px solid rgba($blackBtn-color, 0.15);

		&:last-child  {
			border: none;
		}
	}

	i  {
		margin: 0 1em 0 0;
	}
}

.competences  {
	@extend %gradientY;

	.block-title  {
		padding-bottom: 0;
	}

	.big-title  {
		color: $white-color;
	}

	.block-content  {
		padding-top: 0;
	}

	.big-number  {
		color: rgba($greyNumber-color, 0.16);
	}

	.separator  {
		background-color: $white-color;
	}

	.content-caption  {
		padding: 0.5em 0;
	}

	svg  {
		margin-bottom: 0.25em;
	}

	h3  {
		margin-bottom: 0.75em;
		font-size: $font-16;
	}
}

.skewed-bg  {
	@extend %pos-absolute;
	@include dimension(100vw, 100%);
	display: none;
	top: 0;
	left: 0;
	background: rgba($white-color, 0.1);
	background: -moz-linear-gradient(left, rgba($white-color, 0.02) 0%, rgba($white-color, 0.18) 100%);
	background: -webkit-linear-gradient(left, rgba($white-color, 0.02) 0%, rgba($white-color, 0.18) 100%);
	background: linear-gradient(to right, rgba($white-color, 0.02) 0%, rgba($white-color, 0.18) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#fff',GradientType=1 );
}

.clients  {

	.client-card  {
		@extend %float-left;
		width: 45%;
		height: 42vw;
		margin: 0.5em 2.5%;
		text-align: center;

		img  {
			display: inline-block;
			margin: auto;
			vertical-align: middle;
		}
	}

	.client-1 {
		@include backgroundImg('../img/client/sponsoweb-logo.png', center, no-repeat, auto);
	}
	.client-2 {
		@include backgroundImg('../img/client/autobiz-logo.png', center, no-repeat, auto);
	}
	.client-3 {
		@include backgroundImg('../img/client/orange-logo.jpg', center, no-repeat, auto);
	}
	.client-4 {
		@include backgroundImg('../img/client/voyagesncf-logo.jpg', center, no-repeat, auto);
	}
	.client-5 {
		@include backgroundImg('../img/client/immodefrance-logo.jpg', center, no-repeat, auto);
	}
}

.actus  {

	.actualite  {
		background-color: $blackTitle-color;
		padding: 6em 4em;

		h2  {
			@extend %font-uppercase;
			color: $white-color;
			font-size: $font-24;

		}
	}

	.btn  {
		width: 270px;
		margin: 2.5em auto;
	}
}
/*End Home*/