.job-detail  {

	h2  {
		@extend %font-uppercase;
		font-size: $font-16;
		margin-bottom: 1em;
	}

	p,
	li  {
		font-size: $font-14;
	}

	ol:not(.job-list)  {
		list-style: disc;
		padding-left: 1em;
	}

	article  {
		padding: 1em 0;
	}

	.btn  {
		width: 100%;
		margin: 2em auto;
	}

}