.legal-notice  {

	h2  {
		font-size: $font-18;
		margin-bottom: 1em;
	}

	.hero-grey  {

		padding: 15vh 0 5vh;
		background: $greyNumber-color !important;
	}

	section  {

		.row  {
			padding: 0.5em 0;
		}
	}
}