.projects  {
	
	.hero-grey  {
		background: $greyNumber-color;
		padding: 15vh 0 20vh;
	}

	.projects-wrap  {
		@extend %pos-relative;
		top: -5em;
		padding: 0 1em;
	}
}

.projects-list,
.project-focus  {

	.project-item  {
		@extend %pos-relative;
		margin: 2em auto;
		display: block;
		width: 100%;
		min-height: 320px;
		background: transparent;
	}

	.project-link  {
		@extend %pos-absolute;
		top: 15%;
		z-index: 10;

		h2,
		p  {
			color: $white-color;
		}

		h2  {
			@extend %font-uppercase;
			margin-bottom: 0.75em;
		}

		.btn  {
			margin-top: 1.5em;
			height: 80px;
			line-height: 4.2;
		}
	}
}

.project-cover  {
	@extend %pos-absolute;
	@include dimension(100%, 100%);
	top: 0;
	right: 0;
	cursor: pointer;
	overflow: hidden;
	z-index: 0;

	.mask  {
		//@extend .container;
		@extend %pos-absolute;
		@include dimension(100%, 100%);
		cursor: pointer;
		overflow: hidden;
		white-space: nowrap;
		top: 0;
		left: 0;

		& > .project-img  {
			@include dimension(100%, 100%);
			@extend %pos-absolute;
			top: 0;
			left: 0;
			background-size: auto 100%;
			background-repeat: no-repeat;
			background-position: right 0 top;
		}
	}
}

/*Listed project*/
.sponsoblog  {

	.project-img  {
		background: #00c1b6;
		background: -moz-linear-gradient(45deg, #00c1b6 0%, #136eb5 100%);
		background: -webkit-linear-gradient(45deg, #00c1b6 0%, #136eb5 100%);
		background: linear-gradient(45deg, #00c1b6 0%, #136eb5 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c1b6', endColorstr='#136eb5',GradientType=1 );
	}
}

.kleyver  {

	.project-img  {
		background: #e82c3e;
		background: -moz-linear-gradient(45deg, #e82c3e 0%, #e6027b 100%);
		background: -webkit-linear-gradient(45deg, #e82c3e 0%, #e6027b 100%);
		background: linear-gradient(45degt, #e82c3e 0%, #e6027b 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e82c3e', endColorstr='#e6027b',GradientType=1 );
	}
}

.mailuneed  {

	.project-img  {
		background: #00ace9;
		background: -moz-linear-gradient(45deg, #00ace9 0%, #175ba7 100%);
		background: -webkit-linear-gradient(45deg, #00ace9 0%, #175ba7 100%);
		background: linear-gradient(45deg, #00ace9 0%, #175ba7 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ace9', endColorstr='#175ba7',GradientType=1 );
	}
}

.sponsoweb  {

	.project-img  {
		background: #db2e31;
		background: -moz-linear-gradient(45deg, #db2e31 0%, #ffcb00 100%);
		background: -webkit-linear-gradient(45deg, #db2e31 0%, #ffcb00 100%);
		background: linear-gradient(45deg, #db2e31 0%, #ffcb00 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db2e31', endColorstr='#ffcb00',GradientType=1 );
	}
}
/*End Listed project*/

