.project-focus  {

	.project-link  {
		left: 5%;

		.project-url  {
			@extend %font-uppercase;
			@extend %font-bold;
			cursor: pointer;
			font-size: $font-18;
			color: $white-color;
		}

		p  {
			margin-top: 0.5em;
			margin-bottom: 0.5em;
			@extend %font-black;
			font-size: $font-30;
		}

		.separator  {
			background-color: $white-color;
		}

		.project-tags  {
			margin-top: 1em;

			li  {
				@extend %font-uppercase;
				display: inline;
				font-size: calculateSize(10px);
				color: $white-color;
				margin: 0 0.25em;
			}
		}
	}

	.project-context  {

		h2  {
			font-size: $font-18;
		}

		.col-xxsm-12  {
			margin: 1em auto;
		}
	}

	.project-brand,
	.project-design  {

		.yellow-title  {
			@extend %font-uppercase;
			margin-bottom: 1em;
			padding-left: 15px;
			font-size: $font-12;
			color: $yellowHr-color;

		}

		.separator  {
			background-color: $yellowHr-color;
		}

		h3  {
			font-size: $font-30;
			margin-bottom: 0.5em;
		}

		p  {
			margin: 2em auto;
		}
	}

	.project-design  {
		
		.design-illustration  {

			img  {
				box-shadow: 3px 8px 20px 2px rgba($black-color, 0.25);
				margin: 2em auto;
				
			}
		}
	}

	.project-brand  {

		.brand-illustration  {
			margin: 2em auto;
		}

		.site-presentation  {
			margin: 2.5em auto;	

			img  {
				margin: auto;
			}
		}
	}
}

.project-nav  {

	& > div  {
		@extend %text-center;
		height: 90px;
		padding: 1em;
	}

	span  {
		color: $white-color;
		display: block;
	}


	.btn-name  {
		font-family: 'Playfair Display', serif;
		font-style: italic;
		font-size: $font-14;	
	}

	.project-name  {
		@extend %font-uppercase;
		@extend %font-bold;
		font-size: $font-18;
		margin-top: 0.5em;
	}

	.btn-ico  {
		@extend %pos-absolute;
		top: 1em;
	}

	.prev-project  {
		background-color: $blueNavProject-color;

		.btn-ico  {
			left: 1em;			
		}
	}

	.next-project  {
		background-color: $redNavProject-color;

		.btn-ico  {
			right: 1em;
		}
	}
}