.services  {
	overflow-x: hidden;

	.hero-img  {
		@include backgroundImg('../img/background/service-headerBg.jpg', top left, no-repeat, contain, $white-color);
		min-height: 510px;
		padding-bottom: 2em;

		h2  {
			@extend %font-uppercase;
			font-size: $font-24;
			margin-bottom: 1em;
		}

		address, 
		a  {
			font-size: $font-14;
		}

		a  {
			@extend %font-bold;
		}
	}


	.block-list  {
		@extend %clearfix;

		ol  {
			padding-left: 1em;
		}

		li  {
			font-size: $font-14;
			list-style: disc;
			margin: 0.25em 0;
		}
	}

	.block-title  {
		@extend %font-uppercase;
		font-size: $font-30;
	}
	
	section  {
		@extend %font-bold;
		color: $blackTitle-color;

		.btn  {
			margin: 3em auto;
			width: 100%;
		}
	}

	.illustration  {
		display: none;
	}
}