.training  {

	.block-title  {
		@extend %clearfix;
	}

	header  {

		.btn  {
			width: 260px;
		}

		select  {
			@extend %font-uppercase;
			@extend %font-bold;
			font-size: $font-16;
			padding: 1em 0;
			border: 1px solid rgba($blackBtn-color, 0.25); 
		}
	}

	.filter-btn,
	.block-logo  {
		display: none;
	}
}

.block-formation  {

	.container  {
		overflow: hidden;
	}

	.row  {
		padding: 1em 0;

		&:not(:last-of-type)  {
			border-bottom: 1px solid rgba($blackBtn-color, 0.25);
		}
	}

	.formation-techno  {

		img  {
			@extend %float-left;
			display: inline-block;

			&:not(:first-of-type)  {
				margin-left: 1em;
			}
		}
	}

	.formation-title  {
		text-transform: initial;
		font-size: $font-24;
	}

	.formation-tag  {
		@extend %font-uppercase;
		font-size: $font-12;
		color: $greySlider-color;
		margin: 0.5em 0;
	}

	.item-title  {
		@extend %font-uppercase;
		@extend %font-bold;
		font-size: $font-12;
	}

	.btn  {
		width: 100%;
	}

	.formation-resume,
	.formation-techno,
	.formation-content  {
		padding-top: 1em;
		padding-bottom: 1em;
	}

	.content-titles {
		@extend %clearfix;
		padding: 1em 0;

		li  {
			@extend %float-left;
			width: 33%;
			display: inline-block;
		}

		a  {
			@extend %pos-relative;
			padding: 1em 0;
			overflow: hidden;

			&:before  {
				@include dimension(100%, 2px);
				@extend %pos-absolute;
				bottom: 0.5em;
				content: '';
			}

			&.item-activ  {

				&:before  {
					background-color: $yellowDot-color;
				}
			}
		}
	}

	.content-result  {

		.content-block  {
			display: none;

			&.content-activ  {
				display: block;
			}
		}
	}
}

.block-img  {
	background-size: initial;
	background-repeat: no-repeat;
	background-color: $white-color;
	background-position: center center;

	&.html5-logo  {
		background-image: url('../img/techno/html5-logo.png');
	}
	&.css3-logo  {
		background-image: url('../img/techno/css3-logo.png');
	}
	&.bootstrap-logo  {
		background-image: url('../img/techno/bootstrap-logo.png');
	}
	&.wordpress-logo  {
		background-image: url('../img/techno/wordpress-logo.png');
	}
	&.angular-logo  {
		background-image: url('../img/techno/angular-logo.png');
		background-size: 60%;
	}
	&.js-logo  {
		background-image: url('../img/techno/javascript-logo.png');
	}
	&.drupal-logo  {
		background-image: url('../img/techno/drupal-logo.png');
	}
	&.mysql-logo  {
		background-image: url('../img/techno/mysql-logo.png');
	}
	&.php-logo  {
		background-image: url('../img/techno/php-logo.png');
	}
	&.java-logo  {
		background-image: url('../img/techno/java-logo.png');
		background-size: 35%;
	}
}