/*UTILS*/
//Float
.pull-left  {
	float: left !important;
}

.pull-right  {
	float: right !important;
}

//Center
.center  {
	display: block;
	margin: 0 auto;
}

.padded-block  {
	@extend %clearfix;
}

//Clearfix
.clearfix  {

	&::before,
	&::after  {
		content: '';
		display: table;
	}

	&::after  {
		clear: both;
	}
}

//Show & Hide content
.show  {
	display: block !important;
}

.hide  {
	display: none !important;
}

//Image
.img-fluid  {
	max-width: 100%;
	height: auto;
	display: table;
}

img  {
	@extend .img-fluid;
	vertical-align: middle;
}

//
.sr-only  {
	@extend %pos-absolute;
	@include dimension(1px, 1px);
	padding: 0;
	margin: -1px;
	overflow: hidden;
	border: 0;
	clip: rect(0, 0, 0, 0);
}

.rounded  {
	@extend %text-center;
	@include dimension(60px, 60px);
	border-radius: 50%;
	display: block;
	background-color: $white-color;	

	& > i  {
		line-height: 3.1 !important;
		font-size: calculateSize(20px) !important;
		color: $blackTitle-color;
	}
}

a  {
	color: $blackTitle-color;
}

.grey-bg  {
	background-color: $greyNumber-color;
}

.yellow-bg  {
	background-color: $yellowBg-color;
}
/*End Utils*/