/*Menu bottom*/
.menu-bottom  {
	//border-top: 1px solid rgba($blackBtn-color, 0.25);

	nav  {
		padding-top: 1em;
		padding-bottom: 1em;

		&:first-of-type  {

			h2  {
				@extend %font-uppercase;
				font-size: calculateSize(20px);
			}
		}
	}

	.cta-mail  {
		@extend %font-uppercase;
		@extend %font-bold;
		padding: 0.5em 0;
	}

	h2  {
		font-size: $font-16;
	}

	.dot  {
		color: $blackTitle-color;
	}

	a  {
		color: $blackTitle-color;
		font-size: $font-14;
	}

	.mention  {
		margin-top: 1em;

		p,
		a  {
			font-size: $font-12;
		}
	}	
}
/*End Menu bottom*/