/*Hero*/
.hero-header  {
	background-color: $blackBg-color;
	height: 100vh;
	padding: 35vh 0;

	.hero-title  {
		@extend .big-title;
		@extend %text-center;
		color: $white-color;
		font-size: calculateSize(42px);
	}
}

.hero-grey  {
	background: $greyNumber-color;
	background: -moz-linear-gradient(top, $greyNumber-color 0%, $greyNumber-color 70%, $white-color 70%, $white-color 100%);
	background: -webkit-linear-gradient(top, $greyNumber-color 0%, $greyNumber-color 70%, $white-color 70%, $white-color 100%);
	background: linear-gradient(to bottom, $greyNumber-color 0%, $greyNumber-color 70%, $white-color 70%, $white-color 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e82d3c', endColorstr='#e70774',GradientType=1 );
	padding: 15vh 0 0;
	height: 100%;

	&.full  {
		background: $greyNumber-color;
		padding: 15vh 0 5vh;
	}

	.block-title  {
		min-height: auto !important;
	}

	.separator  {
		margin-top: 2em;
	}
}

.hero-img  {
	background: $white-color;
}

.hero-grey,
.hero-img  {
	height: 100%;
	padding: 15vh 0 0;

	.hero-title  {
		@extend %font-uppercase;
		text-align: left !important;
		color: $blackTitle-color;
	}
}

.hero-project  {
	@include dimension(100%, 100vh);
	@extend %pos-relative;

	.project-cover  {

		.mask  {
			width: 100%;

			& > .project-img  {
				width: 100vw;
			}
		}
	}
}

.hero-header,
.hero-grey,
.hero-img  {

	.hero-title  {
		
		& > span  {
			display: inline-block;
		}
	}
}

.cta-scroll  {
	@extend %pos-absolute; 
	bottom: 2em;
	left: 45vw;
	transform: rotateZ(-90deg);

	& > i  {
		@extend %pos-relative;
		color: $white-color;
		left: -4px;
		top: 1px;
	}
}
/*End Hero*/