.hero-header  {
	background-color: $blackBg-color;
	height: 100vh;
	padding: 35vh 0;

	.hero-title  {
		@extend .big-title;
		@extend %text-center;
		color: $white-color;
		font-size: calculateSize(42px);
	}
}


.cta-scroll  {
	@extend %pos-absolute; 
	bottom: 2em;
	left: 45vw;
	transform: rotateZ(-90deg);

	& > i  {
		@extend %pos-relative;
		color: $white-color;
		left: -4px;
		top: 1px;
	}
}