section,
aside  {
	padding: 2em 0;
}

aside  {
	@extend %gradientX;

	h2  {
		@extend %font-uppercase;
		@extend %font-black;
		font-size: $font-18;
	}

	p  {
		margin-top: 1em;
		color: $blackText-color;
	}
}
