
.icon-heart:before { content: '\e800'; } /* '' */
.icon-right-small:before { content: '\e801'; } /* '' */
.icon-right:before { content: '\e802'; } /* '' */
.icon-down-small:before { content: '\e803'; } /* '' */
.icon-left-small:before { content: '\e804'; } /* '' */
.icon-up-small:before { content: '\e805'; } /* '' */
.icon-left:before { content: '\e806'; } /* '' */
.icon-up:before { content: '\e807'; } /* '' */
.icon-down:before { content: '\e808'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-left-1:before { content: '\f177'; } /* '' */
.icon-right-1:before { content: '\f178'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */